Repository FairwindsOps/insights-plugins, pull requests merged in 2020-12, with the labels that each got.

#306 Add cve examples
  plugins/opa/CHANGELOG.md
  plugins/opa/examples/cap-net-raw-cve-2020-10749/policy.yaml
  plugins/opa/examples/cap-net-raw-cve-2020-10749/workloads.yaml
  plugins/opa/examples/lb-vuln-cve-2020-8554/policy.yaml
  plugins/opa/examples/lb-vuln-cve-2020-8554/service.yaml
  plugins/opa/pkg/opa/types.go
  plugins/opa/version.txt
  plugins/workloads/CHANGELOG.md
  plugins/workloads/results.schema
  plugins/workloads/version.txt
Labels: OPA

#307 Fix path for prometheus file
  plugins/prometheus/CHANGELOG.md
  plugins/prometheus/cmd/prometheus-collector/main.go
  plugins/prometheus/version.txt
Labels: prometheus

#308 Fix remediation typo
  plugins/opa/CHANGELOG.md
  plugins/opa/pkg/opa/types.go
  plugins/opa/version.txt
Labels: OPA

#309 Make prometheus output an object instead of array
  plugins/prometheus/CHANGELOG.md
  plugins/prometheus/cmd/prometheus-collector/main.go
  plugins/prometheus/version.txt
Labels: prometheus

#310 [ci] more logging/output
  plugins/ci/CHANGELOG.md
  plugins/ci/cmd/insights-ci/main.go
  plugins/ci/pkg/ci/ci.go
  plugins/ci/pkg/models/models.go
  plugins/ci/version.txt
Labels: CI

#311 Add metadata report
  plugins/admission/CHANGELOG.md
  plugins/admission/pkg/admission/handler.go
  plugins/admission/version.txt
Labels: Admission Controller

#312 Fix CI Issues
  e2e/test.sh
  plugins/ci/CHANGELOG.md
  plugins/ci/cmd/insights-ci/main.go
  plugins/ci/pkg/ci/trivy.go
  plugins/ci/version.txt
  plugins/kubectl/CHANGELOG.md
  plugins/kubectl/Dockerfile
  plugins/kubectl/version.txt
  plugins/opa/CHANGELOG.md
  plugins/opa/pkg/kube/files.go
  plugins/opa/version.txt
Labels: CI, Kubectl, OPA
