Repository FairwindsOps/insights-plugins, pull requests merged in 2022-01, with the labels that each got.

#572 FWI-1117 - Create right-sizer results.schema and add to e2e tests
  e2e/test.sh
  e2e/values.yaml
  plugins/right-sizer/CHANGELOG.md
  plugins/right-sizer/e2e/testworkload.yaml
  plugins/right-sizer/results.schema
  plugins/right-sizer/version.txt
Labels: right-sizer

#576 Adding policy examples for hostpath mounts and CVE-2021-43816
  plugins/opa/CHANGELOG.md
  plugins/opa/examples/containerd-hostpath-cve-2021-43816/policy.rego
  plugins/opa/examples/containerd-hostpath-cve-2021-43816/workloads.yaml
  plugins/opa/examples/hostpath-volume-mounts/policy.rego
  plugins/opa/examples/hostpath-volume-mounts/workloads.yaml
  plugins/opa/version.txt
Labels: OPA

#574 FWI-1166 - Update right-sizer E2E test to update memory limits
  e2e/test.sh
  e2e/values.yaml
  plugins/right-sizer/CHANGELOG.md
  plugins/right-sizer/e2e/README.md
  plugins/right-sizer/e2e/testworkload.yaml
  plugins/right-sizer/e2e/want.json
  plugins/right-sizer/src/controller/controller_test.go
  plugins/right-sizer/src/report/report.go
  plugins/right-sizer/version.txt
Labels: right-sizer

#578 fwi 915 - fix error msg ci plugin
  plugins/ci/CHANGELOG.md
  plugins/ci/cmd/insights-ci/main.go
  plugins/ci/pkg/ci/ci.go
  plugins/ci/version.txt
Labels: CI

#579 FWI-1192 - Make Labels and Annotations available in Admission Automation Rules
  plugins/admission/CHANGELOG.md
  plugins/admission/cmd/admission/main.go
  plugins/admission/pkg/admission/admission.go
  plugins/admission/pkg/admission/handler.go
  plugins/admission/version.txt
Labels: Admission Controller

#575 FWI-1174 - Add update-memory-namespace option to right-sizer controller
  plugins/right-sizer/CHANGELOG.md
  plugins/right-sizer/TODO.md
  plugins/right-sizer/cmd/main.go
  plugins/right-sizer/src/controller/controller.go
  plugins/right-sizer/version.txt
Labels: right-sizer

#597 FWI-1313 - right-sizer controller panics when logging pod start-time
  plugins/right-sizer/CHANGELOG.md
  plugins/right-sizer/src/controller/controller.go
  plugins/right-sizer/version.txt
Labels: bug, right-sizer
